Repository edmcouncil/onto-viewer, pull requests merged in 2020-11, with the labels that each got.

#59 Adding negation in the graph
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/model/graph/GraphRelation.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/data/RestrictionGraphDataHandler.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/visitor/ExpressionReturnedClass.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/visitor/OntologyVisitors.java
  web-app/config/ontology_config.xml
Labels: enhancement, viewer-graph

#60 Fix ontology visitor
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/data/OwlDataHandler.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/data/handler/fibo/FiboDataHandler.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/scope/ScopeIriOntology.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/updater/UpdaterThread.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/visitor/OntologyVisitors.java
  web-app/config/ontology_config.xml
  web-app/src/main/resources/static/css/main.css
  web-app/src/main/webapp/WEB-INF/jsp/page/elements/header.jsp
  web-app/src/main/webapp/WEB-INF/jsp/page/elements/js/hint.jsp
  web-app/src/main/webapp/WEB-INF/jsp/page/elements/viewGrouped.jsp
Labels: viewer-graph

#61 Update beta branch with graph fix and negation
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/model/graph/GraphNode.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/model/graph/GraphRelation.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/data/RestrictionGraphDataHandler.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/visitor/ExpressionReturnedClass.java
  viewer-core/src/main/java/org/edmcouncil/spec/fibo/weasel/ontology/visitor/OntologyVisitors.java
  web-app/config/ontology_config.xml
Labels: bug, viewer-graph
